@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;;
}


.container {
    width: 100%;
    height: 100vh;
    background-color: black;
    
    /* rgb(20, 20, 20); */
    color: white;
}

.header {
    width: 100%;
    height: 60px;
    border: 1px solid whitesmoke;
    padding: 0 140px;
    display: grid;
    align-items: center;
    grid-template-columns: 230px 1fr 340px;
}

.right-side-header {
    display: grid;
    grid-template-columns: 30px 210px 104px ;
    align-items: center;
}

.header-logo {
    width: 29px;
    margin-top: 2px;
}

.left-side-header {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}

.left-side-header div {
    font-size: 18px;
    font-weight: 580;
}

.middle-header span {
    margin-right: 18px;
    color: rgb(170, 170, 170);
    font-size: 15px;
    font-weight: 630;
}

.middle-header span:hover {
    color: whitesmoke;
    cursor: pointer
}

.input-header {
    width: 96%;
    height: 30px;
    border: 1px solid rgb(74, 74, 74);
    border-radius: 5px;
    background-color: black;
    padding-left: 33px;
    color: rgb(201, 201, 201);
    font-weight: 300;
}

.input-header::placeholder {
    color: rgb(180, 180, 180);
    font-weight: 400;
}


.header-button {
    width: 100%;
    padding: 4px 10px;
    border: none;
    border-radius: 3px;
    height: 31px;
    background-color: rgb(0, 125, 202);
    color: whitesmoke;
    font-size: 15px;
    font-weight: 600;
}

.search-bar-div {
    position: relative;
}

.search-icon {
    position: absolute;
    z-index: 99;
    top: 4px;
    left: 10px;
    color: rgb(96, 96, 96);
    cursor: pointer;
}

