
.sub-section-seven {
    /* padding: 80px 140px; */
    padding: 80px 140px 5px 140px;
    display: flex;
    justify-content: space-between;
}

.flex-container-seven {
    display: flex;
    column-gap: 50px;
    color: rgb(60, 205, 50);
}



.flex-item i {
    width: 100%;
    font-size: 24px;
}

.flex-container-seven-two {
    color: rgb(1, 90, 179);
    font-size: 24px;
}