.sub-section-two {
    background-color: black;
    padding: 60px 140px;
    display: grid;
    grid-template-columns: 380px 1fr;
    column-gap: 85px;
}

.heading-two-left {
    font-size: 28px;
    font-weight: 600;
}

.paragraph-two-left {
    margin-top: 15px;
    line-height: 25px;
    color: rgb(172, 185, 204);
    font-weight: 600;
}

.code-symbols {
    display: grid;
    grid-template-columns: 275px 275px 275px;
}

.right-side-image-flex img {
    width: 100%;
}

.right-side-image-flex {
    width: 38px;
}

.right-side-container-flex {
    display: flex;
    column-gap: 10px;
    place-items: center;
    column-gap: 12px;
    column-gap: 13px;
}

.right-side-container-text {
    margin-bottom: 7px;
    color: rgb(185, 202, 225);
    letter-spacing: 2px;
    font-size: 14.5px;
    font-weight: 200;
}

@media (max-width: 1298px) {
    .code-symbols {
        display: grid;
        grid-template-columns: 235px 235px 235px;
    }
}

@media (max-width: 1200px) {
    .code-symbols {
        display: grid;
        grid-template-columns: 205px 205px 205px;
        /* background-color: white; */
    }
}

@media (max-width: 1100px) {
    .code-symbols {
        display: grid;
        grid-template-columns: 205px 205px;
        /* background-color: white; */
    }
}

@media (max-width: 900px) {
    .code-symbols {
        display: grid;
        grid-template-columns: 205px;
        /* background-color: white; */
    }
}
